.markdown-section table td {
    font-size: 14px;
}

ul.summary:after {
    display: block;
    content: '九州技术团队维护';
    padding: 10px 15px;
}

ul.summary > li:last-child {
    display: none;
}

.markdown-section pre code {
	font-size: 15px;
}